[submodule "lib/30log"]
	path = lib/30log
	url = https://github.com/Yonaba/30log
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua/
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump
[submodule "lib/shack"]
	path = lib/shack
	url = https://github.com/Ulydev/shack.git
[submodule "lib/inspect"]
	path = lib/inspect
	url = https://github.com/kikito/inspect.lua.git
[submodule "lib/tick"]
	path = lib/tick
	url = https://github.com/bjornbytes/tick.git
